<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="navbar-brand">Goldobin1140</a>
        <li class="nav-item  col-auto">
          <a class="nav-link"  [routerLink]="'info'"  [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }" >Информация</a>
        </li>
        <li class="nav-item  col-auto">
            <a class="nav-link"  [routerLink]="'../persons'"  [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Студенты</a>
          </li>
        </ul>
  </div>
  </nav>
<div class="container">
    <app-list></app-list>
    <hr>
    <app-add></app-add>
    
</div>
